fastapi
uvicorn[standard]
sqlalchemy
pymysql
pydantic-settings
python-multipart
langchain
langchain-core
langchain-openai
langchain-chroma
langchain-text-splitters
langchain-deepseek
chromadb
openai
requests
rank-bm25
jieba
pymupdf
